<h2>Secret Image</h2>
<div class="" style="text-align: left;">
    <ol>
        <li>Upload your private image below</li>
        <li>Click on "Upload Image" button.</li>
        <li>Copy the link and then send to your friend</li>
    </ol>
</div>

<div id="image-loading" ng-show="loadingShow" class="progress progress-striped active">
    <div id="progress-bar" class="progress-bar"></div>
</div>

<div id="note-form" ng-show="imageUploadShow">
    <form ng-submit="uploadFiles();">
        <div ng-controller="notifyCtrl">
            <div id="notify-button" ng-show="notifyBtnShow" class="checkbox" style="text-align: left;">
                <label><input type="checkbox" ng-click="showNotifyForm();"/> Notify me when note is read</label>
            </div>

            <div id="notify-form" ng-show="notifyFormShow">
                <div class="form-group">
                    <input type="email" name="email" id="email" placeholder="Notification email will be sent to this address (optional)" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="text" name="reference" id="reference" placeholder="Note reference for you to remember (optional)" class="form-control" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="file" ng-file-select="onFileSelect($files)" class="form-control"/>
        </div>
        <!--
        <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
             ng-show="dropSupported">drop files here</div>
        <div ng-file-drop-available="dropSupported=true"
             ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
        <button ng-click="upload.abort()">Cancel Upload</button>
        -->

        <div class="form-group submit-button">
            <!--<a class="btn btn-lg btn-success" href="/note" role="button" ng-click="submitNote();">Create Note Message</a>-->
            <button class="btn btn-primary" type="submit" ng-disabled="disableSubmit">Create Image Message</button>
        </div>
    </form>
</div>

<div id="message-note" ng-show="messageImageShow">
    <div style="text-align: left; margin-bottom: 10px;">
        You can now copy and send the below link to your friend via email or instant messenger.
        <br />The note will be destroyed as soon as it is read by the recipient.
        <br />Or if you change your mind, you can <a id="destroy-link" ng-href="{{imageLink}}">destroy it now</a>.
    </div>

    <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <div id="link-note">{{imageLink}}</div>
    </div>
</div>
