
#note-display {
    text-align: left;
}

#note-message {
    margin-bottom: 10px;;
}

.note {
    font-size: 12px;
    margin-top: 10px;
}

body.ngdialog-open {
    overflow: auto !important;
}

.ngdialog.ngdialog-theme-plain {
    padding-top: 20px !important;
}

form legend {
    text-align: left;
    font-size: 16px;
}
